.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before, 
.slick-next:before {
    font-family: FontAwesome !important;
    color: red !important;
    // content: "\f060" !important;
}

.slick-next {
    right: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #eceaea !important;
    } 
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background: #f8f0f0;
    }

    &.section-outstanding-doctor {
        background: #f8f0f0;
    }

    &.section-document {
        background: #f8f0f0;
    }

    .section-body {
        .section-customize {
            cursor: pointer;

                .bg-image {
                    width: 268px;
                    height: 165px;
                    background-position: center center;
                    background-repeat: no repeat;
                    background-size: cover;
                    background-color: #eee;

                    &.section-specialty {
                        background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                    }

                    &.section-outstanding-doctor {
                        background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.webp');
                        width: 120px;
                        height: 120px; 
                        border-radius: 50%;
                    }

                    &.section-document {
                        background-image: url('../../assets/document/document.jpg');
                    }
                }
        }
    }
}

.section-share { 
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 26px;
                font-weight: 600px;
                font-weight: bold;
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize {
        padding: 5px;

        .customize-border {
            border: 1px solid orange;
            padding: 20px; 
        }
    }
}

.home-footer {
    background-color: #d4cbcbd0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
        
    .container {
        .row {
            .col-md-6 {
                h3 {
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 10px;
                    margin-left: 100px;
                }
              
                p {
                    font-size: 14px;
                    margin-bottom: 5px;
                    margin-left: 100px;
                
                &:last-child {
                    margin-bottom: 0;
                }
                }
            }
        }
    }
      
}
